
.header-macbook-wrapper-single {
	position: absolute;
	margin-top: 0%;
	width: 100%;
	padding: 0 15%;

	img.macbook {
		padding: 10% 9% 2% 9%;
	}

	img.home-gif {
		position: relative;
		padding: 0 19.05%;
		margin: -47.7% 0;
		left: 0;
	}

	p {
		display: none;
		margin: 0% 10%;
		font-size: 18px;
		font-weight: 200;
	}
}

.header-macbook-mobile {
	.home-gif-mobile {
		position: relative;
		margin: 0 auto;
		width: 75%;
		margin-left: 12.4%;
		margin-top: -55.5%;
	}
}

.connect-works {
	text-align: center;
	margin: 26% auto 0;
	padding: 4%;
	background-color: $white;
	@include outer-container(100%);

	@include media($tablet-down) {
		margin: 37% auto 0%;
		padding: 3% 6%;
		// padding: 0;
	}

	h2 {

	}

	h5 {
		color: $primary-color;
		@include span-columns(8);
		@include shift(2);

		@include media($tablet-down) {
			@include span-columns(12);
			@include shift(0);
		}
	}

	p {
		color: $secondary-color;
		@include span-columns(6);
		@include shift(3);

		@include media($tablet-down) {
			@include span-columns(12);
			@include shift(0);
		}
	}
}


.connect-challenge-solution {
	@include outer-container;
	color: $white;
	
	p {color: $white;}

	.left, .right {
		padding: 4%;
	}

	.left {
		@include span-columns(6, block-collapse);
		text-align: right;
		background-color: $secondary-color;

		@include media(max-width $tablet) {
			@include span-columns(12);
			text-align: center;
		}
	}

	.right {
		@include span-columns(6);
		@include omega();
		background-color: $primary-color;
		// margin: 0;

		@include media(max-width $tablet) {
			@include span-columns(12);
			text-align: center;
		}
		
		p, h4 {
			font-weight: 400;
		}
	}

	.button-center-row {
		@include span-columns(12);
		margin: 0;
		padding: 4%;
	}
}


.timeline-wrapper {
	@include outer-container(100%);
	padding: 4% 4% 0;
	position: relative;
	display: block;
	height: 620px;

	@include media($tablet-down) {
		display: none;
	}	

	h2 {
		text-align: center;
		padding: 2% 4%;
		margin-bottom: 200px;
	}

	.step {
		text-align: left;
		line-height: 1em;
		padding: 0.5% 0;
		margin: 0 !important;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			width: 1px;
			padding-left: 0%;
			margin-left: 0;
		}

		h6 {
			margin: 0;
			color: $white;
			font-size: 95%;
			padding-left: 10px;
		}

		p {
			position: relative;
			margin: 0;
			padding: 0;
			line-height: 1.2em;
			height: 0;
			background-color: $white !important;

			span.bold {
				z-index: 100;				
				background-color: $white;
				position: relative;
				z-index: 101;
			}
	
			span.description {
				display: block;
				font-weight: 300 !important;
				margin-top: 4px;
				padding-bottom: 10px;
				font-size: 90%;
				background-color: $white;
				position: relative;
				z-index: 101;
			}
		}
	}

	.step-1 { // 1
		@include span-columns(3 of 50);
		background-color: darken($primary-color, 40%);

		p {
			top: -180px;
			width: 300%;
		}

		&:after {
			border-left: 1px solid darken($primary-color, 40%);
			height: 100px;
			top: -100px;
		}
	}


	.step-2 { // 10
		@include span-columns(10 of 50);
		background-color: darken($primary-color, 30%);

		p {
			top: 60px;
		}

		&:after {
			border-right: 1px solid darken($primary-color, 30%);
			height: 50px;
		}
	}

	.step-3 { // 5
		@include span-columns(5 of 50);
		background-color: darken($primary-color, 20%);

		p {
			top: -180px;
			width: 150%;
		}

		&:after {
			border-right: 1px solid darken($primary-color, 20%);
			height: 80px;
			top: -80px;
		}
	}

	.step-4 { // 5
		@include span-columns(5 of 50);
		background-color: darken($primary-color, 10%);

		p {
			top: 60px;
			width: 200%;
		}

		&:after {
			border-right: 1px solid darken($primary-color, 10%);
			height: 50px;
		}
	}

	.step-5 { // 20
		@include span-columns(20 of 50);
		background-color: $primary-color;

		p {
			top: -180px;
		}

		&:after {
			border-right: 1px solid $primary-color;
			height: 110px;
			top: -110px;
		}
	}

	.step-6 { // 1
		@include span-columns(7 of 50);
		background-color: lighten($primary-color, 20%);

		p {
			top: 60px;
			width: 100%;
		}

		&:after {
			border-right: 1px solid lighten($primary-color, 20%);
			height: 50px;
		}
	}
}



.timeline-vertical-wrapper {
	@include outer-container(100%);
	position: relative;
	top: 0;
	left: 0;
	padding: 10% 4%;

	@include media($tablet-up) {
		display: none;
	}	

	.header-timeline {
		text-align: center;
		padding-bottom: 4%;
	}

	.label-days {
		position: relative;
		top: -12px;
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
		@include span-columns(8);
		@include shift(2);
		display: block;
		float: left;

		@include media(max-width 668px) {
			@include shift(0);		
			@include span-columns(12);
		}

		li.step {
			margin: 0 0 0px 0;
			padding: 0px 20px 0;

			.step-length {
				position: absolute;
				margin-left: -55px;
				color: $white;
			}

			p {
				margin: 0;
				padding: 0;
				font-size: 135%;
				line-height: 1.3em;
				text-align: left;

				span.description {
					display: block;
					font-weight: 300 !important;
					margin: 0;
					font-size: 75%;
					line-height: 1.2em;
				}
			}
		}
	}

	.step-1 { // 1
		border-left: 40px solid darken($primary-color, 40%);
		// border-bottom: 1px solid darken($primary-color, 40%);
		height: 60px;
	}

	.step-2 { // 10 days
		border-left: 40px solid darken($primary-color, 30%);
		// border-bottom: 1px solid darken($primary-color, 30%);
		height: 150px;
	}

	.step-3 { // 5 days
		border-left: 40px solid darken($primary-color, 20%);
		// border-bottom: 1px solid darken($primary-color, 20%);
		height: 90px;
	}

	.step-4 { // 5 days
		border-left: 40px solid darken($primary-color, 10%);
		// border-bottom: 1px solid darken($primary-color, 10%);
		height: 90px;
	}

	.step-5 { // 20 days
		border-left: 40px solid $primary-color;
		// border-bottom: 1px solid $primary-color;
		height: 170px;
	}

	.step-6 { // ... days
		border-left: 40px solid lighten($primary-color, 20%);
		// border-bottom: 1px solid lighten($primary-color, 20%);
		height: 80px;
	}
}

.box-4-container {
	padding: 4% 4%;
	@include outer-container;
	background-color: $secondary-color;
	text-align: left;
	color: $white;

	.box-4 {
		padding: 0 0 1%;
		// @include span-columns(2 of 4);
		// @include omega(3n);

    	@include media(max-width 667px) {
			margin-right: 0 !important;
			padding: 2%;
			// @include span-columns(4 of 4);
    	}

    	h5 {
			color: $white;

    	}

    	p {
    		color: $white;	
    	}
	}
}

.graphic-right-connect {
	@include outer-container(100%);
	// display: table;
	// position: static;
	padding: 4%;
	background: url(/assets/img/triangles.png) right top no-repeat;
	background-size: contain;

	@include media($tablet-down) {
		background: $primary-color;
	}

	.text-wrap-left {
		@include span-columns(6);
		color: $secondary-color;

		@include media($tablet-down) {
			@include span-columns(12);
			text-align: center;
			color: $white;
		}

		h6 {
			margin: 0 0 4%;
		}
	}
}




