.footer {
	background: $secondary-color;
	padding-top: 6%;
	padding-bottom: 40px;

	@include media($tablet-down) {
		padding-top: 12%;
	}

	img.logo-footer {
		display: block;
		margin: 0 auto;
		// padding-bottom: 10%;

		@include media($tablet-down) {
			padding-bottom: 4%;
		}
	}

	ul.nav-footer {
		margin-top: 5%;
		list-style: none;
		text-align: center;
		width: 100%;

		li {
			display: inline-block;
			margin: 0 12px;

			@include media($tablet-down) {
				padding-bottom: 5%;
			}


			a {
				color: $white;
				text-decoration: none;
			}

		}
	}

	.small {
		color: #eee;
		text-align: center;
	}

	ul.footer-social {
		list-style: none;
		text-align: center;
		width: 100%;

		li {
			display: inline-block;
			margin: 20px;

			a {

				img {
					max-height: 30px;
					width: auto;
					
				}
			}
		}
	}
	
}
