

.header {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	// background-image: url('/assets/img/bg_6.jpg');
	background-color: $primary-color;
	background-size: cover;
	padding: 14% 0 18% 0;
	text-align: center;
	box-shadow: inset 0 -45px 4px -45px rgba(255, 255, 255, .7);

	.header-text-big {
		color: $white;
		padding: 0 4%;
	}

	.header-text-small {
		color: $white;	
		padding: 0 4%;
	}

}

.header-macbook-wrapper {
	position: absolute;
	margin-top: 3%;
	width: 100%;

	@include media($tablet-down) {
		display: none;
	}

	img.macbook {
		padding: 4% 9% 2% 9%;
	}

	img.home-gif {
		position: relative;
		padding: 0 19.05%;
		margin: -47.7% 0;
		left: 0;
	}

	p {
		display: none;
		margin: 0% 10%;
		font-size: 18px;
	}
}

.header-macbook-mobile {
	display: none;
	position: absolute;
	padding: 2% 10%;


	img.home-gif-mobile {
		width: 75.2%;
		position: relative;
		padding: 0%;
		margin: -55.5% 12.4%;
		left: 0;
		// border: 1px solid red;
	}

	@include media($tablet-down) {
		display: block;
	}
}

.lead-row {
	margin-top: 15%;
	text-align: center;
	padding: 4% 0 2%;
	@include outer-container(80%);

	@include media($tablet-down) {
		margin-top: 40%;
	}

	.lead-copy {
		@include media($desktop-up) {
			font-size: 200%;
			@include span-columns(10);
			@include shift(1);
		}
		
		@include media($laptop-down) {
			@include span-columns(12);
			@include shift(0);
		}

		@include media($phone-large-down) {
			text-align: left;
			font-size: 120%;
			padding: 4% 0 2%;
		}
	}
}

.five-grid {
	width: 100%;
	margin-top: 0%;
	position: relative;
	z-index: 1;

	@include media(max-width 750px) {
		padding: 0 4%;
	}

	.five-grid-item {
		display: inline-block;
		float: left;
		width: 20%;
		margin: 0;

		@include media($tablet-down) {
			display: block;
			width: 50%;
			padding: 0;
		}

		img {
			display: block;
			margin: 0 auto 10px auto;
			width: auto;
			height: 80px;

			@include media($tablet-down) {
				padding-top: 0;
			}
		}

		p {
			text-align: center;
			padding: 0 5%;
		}

		&:last-child {
			@include media($tablet-down) {
				margin: 0 auto;
				padding-top: 10px;
				clear: both;
				float: none;
			}
		}
	}
}

// Use case button row
.button-center-row {
	position: relative;
	z-index: 0;
	margin-top: 0%;

	h2 {
		padding: 0 4%;
	}

	button {
		position: relative;
		margin-top: 2%;
	}

	img {
		position: absolute;
		margin: -140px auto 0 -150px;
		width: 550px;
		z-index: -1;
		opacity: .7
	}
}

// Quotes row
.quotes-row {
	margin: 0;
	padding: 6% 4% 0;
	@include outer-container;

	.one-half {
		@include span-columns(6);
		
		@include media($laptop-down) {
			margin-right: 0 !important;
			@include span-columns(6);
		}

		@include media($tablet-down) {
			@include span-columns(12);
		}
	}

	.quote-attribution {
		padding-right: 20px;
		text-align: right;
		font-size: 17px;
		font-weight: 600;
	}
}

.awards-row {
	@include outer-container(100%);
	padding: 4% 4% 10%;

	.award-wrapper {
		@include span-columns(3);
		@include omega(4n);
		
		@include media($laptop-down) {
			@include span-columns(6);
			@include omega(2n);
		}

		@include media($phone-large-down) {
			@include span-columns(12);
			@include omega(12);
		}
	}

	img {
		width: 100%;
		margin: 0 auto;
		max-width: 270px;
		display: block;

		@include media($laptop-down) {
			padding: 4%;
		}

		@include media($tablet-down) {
			padding: 6%;
			max-width: 100%;
		}
		
		@include media($phone-large-down) {
			max-width: 80%;
		}
	}
}

.connect-row, .compute-row {
	margin: 0;
	padding: 6% 7% 2%;
	background-color: #01A9F4;
	position: relative;
	text-align: center;
	color: $white;
	@include outer-container;
	
	h1 {
		position: relative;
		padding: 0 1%;

		span {
			font-size: 130%;
		}
	}

	h5 {
		padding: 0 20%;
		margin: 0;

		@include media($phone-large-down) {
			padding: 0;
		}
	}

	hr {
		margin: 30px 0;
	}

	.connect-stats-wrapper {
		padding-top: 1%;
		@include outer-container(70%);

		@include media(max-width 1099px) {
			@include outer-container(100%);
		}
			
		.connect-stats {
			@include span-columns(4);

			h3 {
				margin: 0;
			}

			p {
				color: $white;
				padding-bottom: 6%;
				margin: 0;
			}
		}
	}

	.button-center-row {
		@include span-columns(12);
		padding-top: 2%;
		margin: 0;
	}
}



.graphic-right {
	display: table;
	position: static;
	padding: 4%;
	background: url(/assets/img/triangles.png) right top no-repeat;
	background-size: contain;

	@include media(max-width 600px) {
		background: none;
	}

	.vert-center-text-wrap {
		display: table-cell; 
		vertical-align: middle; 
		width: 100%; 
		position: static;

		.big-tagline {
			padding: 10% 0;
			width: 50%;
			vertical-align: middle;

			@include media(max-width 600px) {
				text-align: center;
				width: 100%;
			}
		}
	}
}

.side-macbooks {
	display: none;
	padding: 8% 0;
	@include outer-container;

	img {
		position: absolute;
		
		@media (#{$bp-smaller-than-tablet}) {
			margin-top: 10%;
		}
	}

	h5 {
		position: relative;
		padding: 5% 25%;
		text-align: center;

		@media (#{$bp-larger-than-tablet}) {
			font-size: 200%;
		}
	}
}

.media-news-row {
	@include outer-container;
	padding: 6% 0;

	.featured {
		@include span-columns(6);

		@include media($tablet-down) {
			@include span-columns(12);
		}

		h2 {
			text-align: left;
			padding: 0 9%;
		}

		.media-item {
			padding: 0 9%;

			.video-container {
			    position: relative;
			    padding-bottom: 56.25%;
			    padding-top: 30px; 
			    height: 0; 
			    overflow: hidden;
			}
			 
			.video-container iframe,
			.video-container object,
			.video-container embed {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			}

			p.description {
				padding-top: 3%;
			}
		}
	}
}

.news-home {
	@include span-columns(6);
	@include omega();
	padding: 0 4% 0 0;

	hr {
		// padding: 0;
		margin: 20px 0;
	}

	@include media($tablet-down) {
		@include span-columns(12);
	}

	.news-home-header {
		padding-left: 2%;
	}

	.news-item-wrapper {
		margin-bottom: 4%;

		.news-item {
			// border-left: 5px solid $primary-color;
			padding-left: 2%;

			.news-item-home-header {
				margin: 0;
				padding: 0;
				font-weight: 400;
			}

			p {
				margin-bottom: 0;
				color: $primary-color;

				a {
					font-size: 90%;
				}
			}
		}
	}
}
















