
// Hide/show the 2 navs
.nav-desktop {
	@media (#{$bp-larger-than-tablet}) {
		display: block;
	}

	@media (#{$bp-smaller-than-tablet}) {
		display: none;
	}
}

.nav-mobile {

	.logo-wrapper-mobile {
		display: block;
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		max-width: 85%;
	}

	@media (#{$bp-larger-than-tablet}) {
		display: none;
	}
}

/////////////////////////////////

.nav-desktop {
	position: fixed;
	z-index: 999;
	width: 100%;
	background-color: rgba(1, 169, 244, .9);

	&.scrolled {
		// scroll actions here
	}

	&:hover {
		background-color: rgba(1, 169, 244, 1);
	}

	@media (#{$bp-larger-than-desktophd}) {
		padding: 7px 0;
	}
}

.logo-wrapper-desktop {
	float: left;
	clear: none;
	padding: 10px 0 0;
	margin-left: 4%;
}
	
.nav-ul-desktop {
	float: right;
	clear: none;
	padding: 13px 0 0;
	margin: 0 4% 0 0;

	li {
		vertical-align: center;
		display: inline-block;
		padding: 0 10px;
		float: left;

		a {
			min-width: 20px;
			display: inline-block;
			color: $white;
			text-decoration: none;
			font-weight: 300;
			font-size: 16px;
			padding-top: 7px;

			&:hover {
				color: $light-grey;
			}
		}

		&.cta-nav-desktop {
			width: 115px;
			margin-left: 15px;
		}

		button {
			margin: 0;
		}
	}
}

ul.nav-dropdown {
	display: none;
	margin: 0 0 0 -10px;
	padding: 0 10px 10px;
	border-bottom: 2px solid $white;
	position: absolute;
	background-color: $primary-color;

	li {
		display: block;
		padding: 0 !important;
		margin: 0;
		clear: both;
		width: auto;

		a {
			color: $white;

			&:hover {
				color: $light-grey;
			}
		}
	}
}

// Call to action dropdown
.cta-form {
	z-index: 1001;
	min-width: 300px;
	display: none;
	position: relative;
	top: 30px;
	right: 110%;
	background-color: $white;
	border-radius: $global-radius;
	@include outer-container(100%);

	#cta-form-post {
		margin: 0;
	}

	.arrow-up {
		position: absolute;
		top: -15px;
		right: 43%;
		width: 0; 
		height: 0; 
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid $white;
	}

	.input-row {
		@include row();
		padding: 15px 15px 0;
			
		input {
			@include span-columns(12 of 12);

			&.half-width-input {
				@include span-columns(6 of 12);
			}
		}
	}

	.button-center-row {
		@include row;
	}
}

.cover-all {
	min-height: 100%;
	background-color: rgba(0,0,0,.5) !important;
	cursor: pointer;
}

.disable-link {
	pointer-events: none;
}

.loading-icon {
	@include row;
	display: none;
	border: 1px solid red;
}

.respond-message-wrap {
	display: none;
	padding: 25px 15px 0;
	@include row;
	
	p, a {
		font-size: 13px;
		text-align: center;

		a {
			color: $primary-color;
			font-size: 13px;
		}
	}


}



