.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  $base-border-color: $white !default;
  $base-border-radius: 0px !default;
  $base-background-color: $white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $white !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: $primary-color;
  $card-header-background: $secondary-color;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: $primary-color;

  @include flex-basis(13em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;

  .card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: $card-image-hover-color;
    display: none;

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  h6.card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    line-height: 1.3em;
    padding: 20px;
    margin-bottom: 0;
    color: $base-font-color;
  }

  p.card-copy {
    margin: 0;
    padding: 20px 20px 25px;
    color: $base-font-color;
  }

  &:focus,
  &:hover {
    // cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}