// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

$bp-smaller-than-mobile    : "max-width: 400px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;
$bp-smaller-than-tablet    : "max-width: 750px" !default;
$bp-smaller-than-desktop   : "max-width: 1000px" !default;
$bp-smaller-than-desktophd : "max-width: 1200px" !default;

//Grid Variables
$container-width: 1260px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Colors
$primary-color: rgba(1,169,244,1) !default;
$secondary-color: darken(rgba(0,86,155,1), 20%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$link-color-alt: #fff !default;
$font-color: #555 !default;

$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$white: #fff;

$text-dark: $dark-grey;
$text-light: $white;

// Cards

.site-wrapper {
	background-color: $white;
}

// Typography
$font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


// Misc
$global-radius: 3px !default;

// Functions
@function grid-column-width($n) {
  @return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns);
}

@function grid-offset-length($n) {
  @return grid-column-width($n) + $column-margin;
}